APP_NAME="Mandalaloka Apps"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://mandalaloka.com # UBAH DENGAN DOMAIN ASLI ANDA

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=mandalaloka_db
DB_USERNAME=mandalaloka_user
DB_PASSWORD=siapmemajukanmandalajati*!

BROADCAST_CONNECTION=log
CACHE_STORE=database
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null

# N8N Webhook URL Configuration (Ganti jika n8n menggunakan subdomain terpisah)
N8N_WEBHOOK_URL=http://n8n:5678/webhook/
N8N_WEBHOOK_DSS_URL=http://n8n:5678/webhook/dss-api
